@import '../../../common/styles/variables.scss';

.widget {
  border-top: 1px solid $SECONDARY_COLOR;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  vertical-align: top; /* Keep the item on the very top */

  .widget-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    overflow: scroll;

    .widget-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 100px);
      padding: 14px 17px;
      img {
        transition: all 0.35s ease-in-out;
      }
      p {
        text-transform: uppercase;
        font-size: 1.8rem;
        margin: 0;
        color: #ff952d;
      }
    }
  }
  .widget-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background: $THIRD_COLOR;
    .footer-text {
      padding: 16px 14px;
      a {
        font-size: 1.4rem;
        color: $FOOTER_TEXT_COLOR;
      }
    }

    .widget-button {
      background-color: $FOOTER_BUTTON_COLOR;
    }
  }
  .widget-body {
    background: white;
    animation: closeWidget 0.5s;
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    & > * {
      animation: hideContent 0.2s;

      visibility: hidden;
      opacity: 0;
    }

    .widget-item {
      width: 100%;
      padding: 10px 10px;
      border-bottom: 1px solid $LIGHT_GREY_COLOR;
      > * {
        font-size: 14px;
        color: $INACTIVE_COLOR;
        line-height: 33px;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &.active {
    border: 1px solid $SECONDARY_COLOR;

    .widget-body {
      animation: openWidget 1s;

      display: flex;
      //padding: 17px;
      // transition-delay: 0s;
      padding: 28px 10px;

      & > * {
        animation: showContent 1s;
        visibility: visible;
        opacity: 1;
      }
      max-height: 1000px;

      cursor: pointer;
    }
    .widget-header {
      .widget-title {
        img {
          transform: rotate(90deg);
        }
      }
    }
  }
}
