$SECONDARY_COLOR: #e5f0fa;
$WHITE_COLOR: white;
$THIRD_COLOR: #ebf0f4;
$FOOTER_TEXT_COLOR: #657189;
$FOOTER_BUTTON_COLOR: #dae4ee;
$LIGHT_GREY_COLOR: #ebf0f4;
$INACTIVE_COLOR: #657189;
$PURPLE_COLOR: #9e419c;
$BORDER_COLOR: #d8d8d8;
$RED_COLOR: #e74c3c;
$GREEN_COLOR: #2ecc71;
$BREAK_POINT_BIG_SCREENS: 1200px;
$BREAK_POINT_MID_SCREENS: 760px;
