@import '../../common/styles/variables.scss';
@import "../../common/styles/animation";
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  > * {
    padding: 0 90px;
    width: 100%
  }
  .menu-container {
    background-color: $WHITE_COLOR;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid $SECONDARY_COLOR;
    .clickable-icon {
      margin: 0px 6px;

      &:last-child {
        margin-right: 0;
      }
    }

    .menu {
      margin-right: auto;

      .menu-item {
        margin: 0 17px;
        font-size: 1.4rem;
        color: $FOOTER_TEXT_COLOR;
      }
    }
  }
  .logo-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img {
      height: 64px;
      margin-right: 5px;
    }
    .title-container {
      margin-right: 32px;
      .title {
        font-size: 24px;
        color: #000000;
      }
      .secondry-title {
        font-size: 15px;
        color: #000000;
      }
    }
    .motto {
      padding-top: 25px;
      font-size: 24px;
      color: #000000;
    }
  }
  .navigation {
    height: 86px;
    background-color: $PURPLE_COLOR;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .navigation-container {
      display: flex;
      flex-direction: row;
      .navigation-item {
        list-style-type: none;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
        a {
          font-size: 1.6rem;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
    .search-container {
      display: flex;
      flex-direction: row;
      .search-input {
        width: 380px;
        height: 50px;
        background-color: $WHITE_COLOR;
        font-size: 16px;
        color: $FOOTER_TEXT_COLOR;
        padding-left: 5px;
      }
    }
  }
  @media only screen and (min-width: $BREAK_POINT_MID_SCREENS) and (max-width: $BREAK_POINT_BIG_SCREENS) {


    .navigation{
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 130px;

      .navigation-container {
      margin-bottom: 10px}
      }
    }
  @media only screen and (max-width: $BREAK_POINT_MID_SCREENS) {
    > * {
      padding: 0 30px;

    }
    .menu-container {


      .clickable-icon {
        margin: 0px 6px;
        width: 25px;
        height: 25px;
        img{
          width: 15px;
          height: 15px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      .menu {

        .menu-item {
          margin: 0 5px;

        }
      }
    }
    .navigation{
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 130px;
      .search-container {
        .search-input {
          width: 307px;

        }
      }
      .navigation-container {
        margin-bottom: 10px}
  }


  }
}
