@import '../../common/styles/variables';
.dashboard {
  .wrapper {
    padding: 0 90px;

    @media only screen and (max-width: $BREAK_POINT_MID_SCREENS) {
      padding: 10px 15px;
      display: block;
    }
    //  display: flex;
    //  flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 20px;
  }
}
