@import './components/index.scss';
@import './containers/index.scss';

html {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;

  font-weight: 300;
  font-size: 10px;

  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: unset;
  box-sizing: border-box;
}

@media only screen and (min-width: $BREAK_POINT_MID_SCREENS) and (max-width: $BREAK_POINT_BIG_SCREENS) {
  html {
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
  }
}
@media only screen and (max-width: $BREAK_POINT_MID_SCREENS) {
  html {
    font-family: 'Open Sans', sans-serif;
    font-size: 7px;
  }
}
